body,td,th{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #d91c5b;
	line-height: 1.5em;
	background-image:url("../Pictures/phpBackground.jpg");
}

body{
	background-color: #FFF;
}

a{
	font-size: 14px;
	color: #03F;
}

a:link{
	text-decoration: none;
}

a:visited
{
	text-decoration: none;
	color: #03F;
}

a:active{
	text-decoration: none;
	color: #03F;
}

#pageHeader{
	color: #F00;
}

#pageContent{
	color: #090;
}

#pageFooter{
	color: #F0F;
}
